<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
		xmlns:oxm="http://www.springframework.org/schema/oxm"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xmlns:mvc="http://www.springframework.org/schema/mvc"
		xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
			http://www.springframework.org/schema/oxm http://www.springframework.org/schema/oxm/spring-oxm-3.0.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
			http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">

	<mvc:annotation-driven/>

	<bean class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping">
		<property name="order" value="1"/>
	</bean>
    <mvc:view-controller path="/desktop.htm" view-name="desktop"/>
    <mvc:view-controller path="/menu.ajax" view-name="ajaxMenu"/>
    <mvc:view-controller path="/public/menu.ajax" view-name="public/ajaxMenu"/>
    <mvc:view-controller path="/team.htm" view-name="team/index"/>
    <mvc:view-controller path="/user.htm" view-name="user/index"/>
    <mvc:view-controller path="/authorities.htm" view-name="authorities/index"/>
    <mvc:view-controller path="/resource.htm" view-name="resource/index"/>

    <!-- View Resolver for JSPs -->
    <bean id="viewResolver" class="it.cilea.core.view.view.CinecaInternalResourceViewResolver">
        <property name="requestContextAttribute" value="rc"/>
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

	<context:component-scan base-package="it.cilea.core.view.controller"/>
	<context:component-scan base-package="it.cilea.core.search.controller"/>
	<context:component-scan base-package="it.cilea.core.menu.controller"/>
	<context:component-scan base-package="org.dspace.app.webui.controller"/>
	<bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean"/>
	<!--
		- Message source for this context, loaded from localized "messages_xx" files.
		- Could also reside in the root application context, as it is generic,
		- but is currently just used within PetClinic's web tier.
	-->
	<bean id="propertyConfigurer"  class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    	<property name="location" value="classpath:settings.properties" />
	</bean>
	<mvc:interceptors><bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor" p:paramName="changeLocale" /></mvc:interceptors>
	<bean id="customEditorList"	class="java.util.ArrayList">
		<constructor-arg index="0">
			<list>						
			</list>
		</constructor-arg>				
	</bean>	</beans>
