<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
			http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

	<context:property-placeholder location="classpath:settings.properties"/>
				
	<bean id="treeNodeDao" class="it.cilea.core.menu.dao.hibernate.TreeNodeDaoHibernate">
		<property name="sessionFactory" ref="sessionFactorySur"></property>
	</bean>
	
	<bean id="treeNodeTypeDao" class="it.cilea.core.menu.dao.hibernate.TreeNodeTypeDaoHibernate">
		<property name="sessionFactory" ref="sessionFactorySur"></property>
	</bean>
	
	<bean id="treeNodeDictionaryDao" class="it.cilea.core.menu.dao.hibernate.TreeNodeDictionaryDaoHibernate">
		<property name="sessionFactory" ref="sessionFactorySur"></property>
	</bean>
	
	<bean id="treeNodeService" parent="txAdviceTemplate">
		<property name="target">
			<bean class="it.cilea.core.menu.service.TreeNodeService">
				<property name="treeNodeDao" ref="treeNodeDao"></property>
				<property name="treeNodeTypeDao" ref="treeNodeTypeDao"></property>
				<property name="treeNodeDictionaryDao" ref="treeNodeDictionaryDao"></property>
			</bean>
		</property>
	</bean>
	
</beans>